/* Magic Mirror Config Sample
 *
 * By Michael Teeuw http://michaelteeuw.nl
 * MIT Licensed.
 */

var config = {
	port: 8080,

	language: 'en',
	timeFormat: 24,
	units: 'metric',

	modules: [
		{
			module: 'alert',
		},
		{
			module: 'clock',
			position: 'top_left'
		},
		{
			module: 'calendar',
			header: 'Feiertage',
			position: 'top_left',
			config: {
				calendars: [
					{
						symbol: 'calendar-check-o ',
						url: 'http://www.ifeiertage.de/bw-s.ics'
					}
				]
			}
		},
		{
			module: 'compliments',
			position: 'bottom_bar',
			config: {
			compliments: {
				morning: [
				    'Nice, just have for fun!',
				    'Good morning, Nice Weight Gain!',
				    'Nice Day!',
				    'U mad?'
				],
				afternoon: [
				    'Nice Weight Gain!',
				    'Awsm!',
				    'Today!',
				    'Nice Mirror!'
				],
				evening: [
				    'Was kuckst du!?',
				    'Ha, so eingebildet!',
				    'Pipapo!',
				    'OMG, blabla blub!',
                		    'Superb! Dufte! Knorke!',
                		    'Was isch los'
				]
			}
}
		},
		{
			module: 'currentweather',
			position: 'top_right',
			config: {
				location: 'New York',
				appid: 'YOUR_OPENWEATHER_API_KEY'
			}
		},
		{
			module: 'weatherforecast',
			position: 'top_right',
			header: 'Weather Forecast',
			config: {
	            location: 'New York',
	            appid: 'YOUR_OPENWEATHER_API_KEY'
			}
		},
		{
			module: 'newsfeed',
			position: 'lower_third',
			config: {
				feeds: [
					{
						title: "GameStar",
						url: "http://www.gamestar.de/news/rss/news.rss"
					}
				],
				showSourceTitle: true,
				showPublishDate: true
			}
		},
	]

};

/*************** DO NOT EDIT THE LINE BELOW ***************/
if (typeof module !== 'undefined') {module.exports = config;}
